<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{ page_title }}</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index-2.html">Home</a>
      </li>

      <li class="breadcrumb-item">
        <strong>Manage Car<strong>
      </li>

    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-top:30px;padding-bottom:100px">
  <div class="row">
    <div class="col-lg-12">
      <br><br><br>
      <div class="row">
        <div class="col-md-6 offset-md-3  text-center">
          <div class="ibox ">
            <div class="ibox-title" style="padding-right:15px">
              <h5 class="font-weight-bold">When To Book</h5>
            </div>
            <div class="ibox-content" style="background-color: #ffffffb5 ">
              <div class="form-group" id="data_1">
                <label class="font-normal font-weight-bold">Date From</label>
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="dateFrom"
                    type="text" class="form-control" value="03/04/2014">
                </div>
              </div>
              <div class="form-group" id="data_1">
                <label class="font-normal font-weight-bold">Date To</label>
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="dateTo" type="text"
                    class="form-control date" value="03/04/2014">
                </div>
              </div>
              <div class="form-group">
                <label class="font-normal font-weight-bold">Time From</label>
                <div class="input-group clockpicker" data-autoclose="true">
                  <span class="input-group-addon">
                    <span class="fa fa-clock-o"></span>
                  </span>
                  <input name="timeFrom" type="text" class="form-control" value="09:30">

                </div>
              </div>
              <div class="form-group">
                <label class="font-normal font-weight-bold">Time To</label>
                <div class="input-group clockpicker" data-autoclose="true">
                  <span class="input-group-addon">
                    <span class="fa fa-clock-o"></span>
                  </span>
                  <input name="timeTo" type="text" class="form-control" value="09:30">
                </div>
              </div>
              <button type="button" onclick="submitOrder()" class="btn btn-w-m btn-success">
                GO
              </button>
            </div>
          </div>
          <div class="ibox" style="display:none;">
            <div class="ibox-title  back-change">
            </div>
          </div>
          <div class="ibox ">
            <div class="ibox-content" style="display:none;">
              <input type="checkbox" class="js-switch" checked />
              <input type="checkbox" class="js-switch_2" checked />
              <input type="checkbox" class="js-switch_3" />
              <input type="checkbox" class="js-switch_4" checked />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.clockpicker').clockpicker();
  var mem = $('#data_1 .input-group.date').datepicker({
    todayBtn: "linked",
    keyboardNavigation: false,
    forceParse: false,
    calendarWeeks: true,
    autoclose: true
  });

  var yearsAgo = new Date();
  yearsAgo.setFullYear(yearsAgo.getFullYear() - 20);

  $('#selector').datepicker('setDate', yearsAgo);


  $('#data_2 .input-group.date').datepicker({
    startView: 1,
    todayBtn: "linked",
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true,
    format: "dd/mm/yyyy"
  });

  $('#data_3 .input-group.date').datepicker({
    startView: 2,
    todayBtn: "linked",
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true
  });

  $('#data_4 .input-group.date').datepicker({
    minViewMode: 1,
    keyboardNavigation: false,
    forceParse: false,
    forceParse: false,
    autoclose: true,
    todayHighlight: true
  });
</script>