<div style="padding-top: 10px;">

  <div class="row m-b-lg m-t-lg" style="background-color: #ffffffc9;">
    <div class="col-md-6">
      <div class="profile-image" style="padding-top: 20px;">
        <img src="assetsinspinia/img/gtr.jpg" class="m-b-md" alt="profile" style="box-shadow: 0 0 2px 1px black;">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins" style="padding-top:10px">
              Nissan GTR 4L
            </h2>
            <div class="col-md-3">
              <table class="table small m-b-xs">
                <tbody>
                  <tr>
                    <td>
                      <strong>142</strong> Projects
                    </td>
                    <td>
                      <strong>22</strong> Followers
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>61</strong> Comments
                    </td>
                    <td>
                      <strong>54</strong> Articles
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>154</strong> Tags
                    </td>
                    <td>
                      <strong>32</strong> Friends
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-lg m-t-lg" style="background-color: #ffffffc9;">
    <div class="col-md-6">
      <div class="profile-image" style="padding-top: 20px;">
        <img src="assetsinspinia/img/gtr.jpg" class="m-b-md" alt="profile" style="box-shadow: 0 0 2px 1px black;">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins" style="padding-top:10px">
              BMW M5 3.5L
            </h2>
            <div class="col-md-3">
              <table class="table small m-b-xs">
                <tbody>
                  <tr>
                    <td>
                      <strong>142</strong> Projects
                    </td>
                    <td>
                      <strong>22</strong> Followers
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>61</strong> Comments
                    </td>
                    <td>
                      <strong>54</strong> Articles
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>154</strong> Tags
                    </td>
                    <td>
                      <strong>32</strong> Friends
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-lg m-t-lg" style="background-color: #ffffffc9;">
    <div class="col-md-6">
      <div class="profile-image" style="padding-top: 20px;">
        <img src="assetsinspinia/img/gtr.jpg" class="m-b-md" alt="profile" style="box-shadow: 0 0 2px 1px black;">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins" style="padding-top:10px">
              Lambhorghini
            </h2>
            <div class="col-md-3">
              <table class="table small m-b-xs">
                <tbody>
                  <tr>
                    <td>
                      <strong>142</strong> Projects
                    </td>
                    <td>
                      <strong>22</strong> Followers
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>61</strong> Comments
                    </td>
                    <td>
                      <strong>54</strong> Articles
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>154</strong> Tags
                    </td>
                    <td>
                      <strong>32</strong> Friends
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-lg m-t-lg" style="background-color: #ffffffc9;">
    <div class="col-md-6">
      <div class="profile-image" style="padding-top: 20px;">
        <img src="assetsinspinia/img/gtr.jpg" class="m-b-md" alt="profile" style="box-shadow: 0 0 2px 1px black;">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins" style="padding-top:10px">
              Perodua Kancil
            </h2>
            <div class="col-md-3">
              <table class="table small m-b-xs">
                <tbody>
                  <tr>
                    <td>
                      <strong>142</strong> Projects
                    </td>
                    <td>
                      <strong>22</strong> Followers
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <strong>61</strong> Comments
                    </td>
                    <td>
                      <strong>54</strong> Articles
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>154</strong> Tags
                    </td>
                    <td>
                      <strong>32</strong> Friends
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>